@font-face {
    font-family: myFont;
    src: url('./font/Overpass-VariableFont_wght.ttf');
}
body{
    font-family: myFont;
    background-color:hsl(216, 12%, 8%);
    font-size: 15px;
}
.main-body{
    display: flex;
    width: 350px;
    height: 350px;
    background-color: hsl(213, 30%, 12%);
    border-radius: 25px;
    padding: 20px;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
}
.sub-inner{
    max-width: 85%;
    max-height: 85%;
}
.star{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: hsl(213, 19%, 18%);
}
.heading{
    color: white;
    margin-top: 30px;
}
.para{
    color: hsl(206, 4%, 66%);
    font-size: 15px;
    max-width: 100%;
}
.rating{
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    justify-content: space-between;
    color: hsl(206, 4%, 66%);
}
.sbtn-div{
    display: flex;
    align-items: center;
    margin-top: 30px; 
}
.sbtn{
    background-color: hsl(25, 97%, 53%);
    border-radius: 25px;
    border-style: hidden;
    width: 100%;
    height: 40px;
    color: white;
}
.sbtn:hover{
    cursor: pointer;
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.sub-inner .rating input{
    display: none;
}
input:not(:checked)~label:hover,
input:not(:checked)~label:hover{
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    color: white;
}

input:checked + label{
    background-color: hsl(217, 12%, 63%);
    color: white;
}
.sub-inner-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-inner-two{
    display: none;
}
.phone-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.result-div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.result{
        width: 180px;
        height: 30px;
        border-radius: 25px;
        background-color: hsl(213, 19%, 18%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: hsl(25, 97%, 53%);
        padding-top: 3px;
}
.thanks-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.thanks{
    color: white;
}
.aprr-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}
.appr{
    width: 98%;
    text-align: center;
    color: hsl(206, 4%, 66%);;
}

@media screen and (max-width: 975px){
    .main-body{
        width: 280px;
        height: 330px;
    }
    .heading{
        color: white;
        margin-top: 20px;
    }
    .star{
        margin-top: 3px;
    }
    .sub-inner{
        max-width: 95%;
        max-height: 95%;
    }
    .appr{
        width: 100%;
        text-align: center;
        color: hsl(206, 4%, 66%);;
    }
}